<launch> 
    <arg name="mode" /> 
    <arg name="run_uploader"/>
        <!-- Launch the camera monitor node first, which will launch the camera agent -->
        <group if="$(arg run_uploader)"> 
            <param name="mode" type="string" value="$(arg mode)" /> 
            <node pkg="openstack_object_uploader" type="run.py" name="openstack_object_uploader_node" output="screen" respawn="false" >
            </node>
        </group>
</launch>   